body{
margin:0;
font-family:Arial;
background:#f4f4f4;
}

.dark{
background:#1e1e1e;
color:white;
}

#loginPage{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
height:100vh;
}

#app{
display:none;
height:100vh;
display:flex;
}

.sidebar{
width:220px;
background:#222;
color:white;
padding:20px;
display:flex;
flex-direction:column;
}

.sidebar button{
margin:6px 0;
padding:10px;
border:none;
cursor:pointer;
background:#444;
color:white;
}

.main{
flex:1;
padding:20px;
overflow:auto;
}

.page{
display:none;
}

.page.active{
display:block;
}

.toolbar button{
margin:5px;
padding:8px 15px;
}

#canvas{
border:2px dashed gray;
background:white;
}

textarea{
width:500px;
}
